{{define "index"}}
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#0d1422" />
    <meta name="description"
        content="Easily convert your WEBM videos with alpha channels into MOV (MP4) format, ensuring seamless playback on Safari while preserving transparency." />
    <title>Alphavids</title>
    <link href="/static/styles.css" rel="stylesheet">
    <script src="/static/htmx.min.js"></script>
    <script src="https://analytics.ahrefs.com/analytics.js" data-key="BgGyFgtRu0nvunDuAigYJA" async></script>
</head>

<body>
    <div class="min-h-dvh flex flex-col">
        <div class="hero grow bg-base-200">
            <div class="hero-content flex-col lg:flex-row-reverse">
                <video autoplay muted loop width="480px">
                    <source src="/static/rock-meme.mov" type="video/quicktime">
                    <source src="/static/rock-meme.webm" type="video/webm">
                </video>
                <div>
                    <h1 class="text-5xl font-bold">WEBM to MOV converter</h1>
                    <p class="py-6">
                        Easily convert your WEBM videos with alpha channels into MOV (MP4) format, ensuring seamless
                        playback on Safari while preserving transparency.
                    </p>
                    <div>
                        {{template "form"}}
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer footer-center flex-none bg-base-300 text-base-content p-4">
            <aside>
                <p>2025 - built by <a class="link link-primary link-hover" href="https://x.com/vrotherford">vrotherford</a></p>
            </aside>
        </footer>
    </div>
</body>

</html>
{{end}}